// ***Define variables

// __colors
$color-primary: #ff600c;
$color-secondary: #292961;
$color-warning: #ffc900;
$color-success: #34be82;
$color-error: #ff5959;
$color-info: #1c6dd0;
$color-white: #ffffff;
$color-light: #eaeaea;
$color-black: #000000;
$color-dark: #303030;
$color-transparency: rgba(0, 0, 0, 0.25);

// __BoxShadow
$shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

// __BorderRadius
$border-radius: 8px;
