@use '../utilities/variables.scss' as v;

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;

  // CartBody ==========>
  .cart_body {
    background: v.$color-white;
    width: 480px;
    height: 470px;
    box-shadow: v.$shadow;
    border-radius: v.$border-radius;

    .cart_header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      box-shadow: v.$shadow;
      margin-bottom: 100px;

      .cart_header__title {
        font-size: 20px;
        text-align: center;
        color: v.$color-primary;
        text-transform: uppercase;
        font-weight: normal;
      }
    }

    .cart_main {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      width: 90%;

      .cart_input {
        width: 90%;
        height: 50px;
        padding-left: 10px;
        border-radius: 2px;
        border: solid 1px v.$color-transparency;
        outline: none;
        font-family: inherit;
        color: v.$color-dark;
        transition: all 0.5s ease;
      }

      .cart_input::placeholder {
        color: v.$color-transparency;
      }

      .cart_input:focus {
        border: 2px solid v.$color-primary;
      }

      .cart_btn__send,
      .cart_btn__show {
        width: 90%;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: v.$shadow;
        background: v.$color-secondary;
        color: v.$color-white;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 20px;
        font-family: inherit;
        transition: all 1s ease;
      }
      .cart_btn__send:hover,
      .cart_btn__show:hover {
        background: v.$color-primary;
      }
    }
  }
  // CartBody ==========>

  .cart_get__token {
    color: v.$color-white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    transition: all 0.5s ease;
  }
  .cart_get__token:hover {
    color: #6b4fbb;
  }
}
