.cart {
  display: flex;
  flex-direction: column;
  align-items: center;

  // CartBody ==========>
  .cart_body {
    background: #fff;
    width: 480px;
    height: 470px;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    .cart_header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      margin-bottom: 100px;

      .cart_header__title {
        font-size: 20px;
        text-align: center;
        color: #ff600c;
        text-transform: uppercase;
        font-weight: normal;
      }
    }

    .cart_main {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
      width: 90%;

      .cart_input {
        width: 90%;
        height: 50px;
        padding-left: 10px;
        border-radius: 2px;
        border: solid 1px rgba(0, 0, 0, 0.3);
        outline: none;
        font-family: inherit;
        color: #333;
        transition: all 0.5s ease;

        ::placeholder {
          color: rgba(0, 0, 0, 0.3);
        }

        :focus {
          border: 2px solid #f96424;
        }
      }

      .cart_btn__send,
      .cart_btn__show {
        width: 90%;
        height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #292961;
        color: #fff;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 20px;
        font-family: inherit;
        transition: all 1s ease;

        :hover {
          background: #f96424;
        }
      }
    }
  }
  // CartBody ==========>

  .cart_get__token {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    transition: all 0.5s ease;

    :hover {
      color: #6b4fbb;
    }
  }
}
